*.sh linguist-detectable=false
*.bash linguist-detectable=false
*.j2 linguist-detectable=true
*.yml linguist-detectable=true
files/blesh/** linguist-documentation=true
files/blesh/** linguist-vendored=true
